<?xml version="1.0" encoding="utf-8"?>
<module>
<name>ConfigServer Firewall</name>
<version>100</version>
<type>user</type>
<defaultcat>Server Admin</defaultcat>
<desc>A Stateful Packet Inspection (SPI) firewall, login/intrusion detection, and security application for Linux servers.</desc>
<authorname>Steven Mirabito</authorname>
<authoremail>steven@stevtek.com</authoremail>
<authorurl>http://www.stevtek.com/</authorurl>
<updateurl>http://zppy.stevtek.com/updates/csf.xml</updateurl>
</module>